:root{
	--oreo: #515151;
	--vanilla: #FFFFFF;
	--cream: #ECE2D0;
	--strawberry: #E56399;
	--mint: #58C1A2;
	--cookies: #D3A588;
	--chocolate: #7A6563;

	--mainwidth: 744px;

	--mainfont: fredoka;
	--logosize: 2em;
	--h1size: 4em;
	--h2size: 3em;
	--textsize: 1.5em;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	width: 100%;
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: var(--oreo);
	position: fixed;
	background: var(--vanilla);
}

a{
	text-decoration: none;
}

nav li{
	display: inline-block;
}

nav li a{
	display: inline-block;
	font-size: var(--textsize);
	color: var(--oreo);
	padding: 16px;
}

nav.nav-top li a:hover{
	color: var(--mint);
}

body{
	background: var(--vanilla);
	font-family: var(--mainfont);
}

.primary-button{
	border-radius: 16px;
	color: white;
	background: var(--mint);
	padding: 16px 32px 16px 32px;
	font-size: 2em;
}

/* 										Related to Header 										*/

.logo{
	font-size: var(--logosize);
}

.nav-links{
	align-content: center;
	align-items: center;
}

.nav-top{
	width: var(--mainwidth);
	margin-left: auto;
	margin-right: auto;
}

.nav-links{
	display: flex;
	justify-content: space-between;
}
	
/* 										Related to Header 										*/

/*										Related to Dropdown 									*/

.dropdown-menu{
	position: absolute;
	box-shadow: 0 0 2px var(--oreo);
	background: var(--vanilla);
	display: none;
}

.dropdown-selector{
	display: flex;
	align-content: center;
	justify-content: center;
}

.dropdown-menu a{
	display: block;
	color: var(--oreo);
}

.dropdown:hover .dropdown-menu{
	display: block;
}

/*										Related to Dropdown 									*/

/* 										Related to Hero 										*/

.hero{
	width: var(--mainwidth);
	margin-left: auto;
	margin-right: auto;
	padding: 300px 0 300px 0;
}

.hero h1{
	font-size: var(--h1size);
	font-weight: normal;
	text-align: center;
	color: var(--mint);
	margin-bottom: 32px;
}

.hero p{
	font-size: var(--textsize);
	color: var(--oreo);
	margin-bottom: 16px;
}

.hero-bottom{
	padding-top: 100px;
	padding-bottom: 100px;
}

.hero-bottom p{
	text-align: center;
	margin-bottom: 16px;
}

#button-align{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: center;
}

/* 										Related to Hero 										*/

/*										Related to Projects										*/

.project{
	padding: 64px 0 64px 0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	width: var(--mainwidth);
}

.project-wrapper1{
	background: var(--strawberry);
}

.project-wrapper2{
	background: var(--cream);
}

.project-wrapper3{
	background: var(--mint);
}

.project-img1{
	width: 250px;
}

.project div h2{
	font-size: var(--h2size);
}

.project div p{
	font-size: var(--textsize);
}

.project div a{
	font-size: var(--textsize);
}

.project-wrapper1 .project{
	color: var(--vanilla);
}

.project a{
	text-decoration: underline;
}

.project-wrapper1 .project a{
	color: var(--vanilla);
}

.project-wrapper2 .project a{
	color: var(--chocolate);
}

.project-wrapper2 .project{
	flex-direction: column;
	color: var(--chocolate);
}

.project-wrapper3 .project{
	color: var(--vanilla);
}

.project-wrapper3 .project a{
	color: var(--vanilla);
}

.project h2{
	margin-bottom: 32px;
}

.project p{
	margin-bottom: 16px;
}

.project-wrapper2 .project h2{
	margin-top: 32px;
}

.project-wrapper1 .project .project-text{
	margin-left: 32px;
}


/*											Related to Projects										*/

/*											Related to Footer										*/

footer{
	width: 100%;
	background: var(--mint);
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer nav ul a{
	color: var(--vanilla);
}

footer nav .nav-links{
	justify-content: center;
	flex-direction: column;
}
/*											Related to Footer										*/